<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../firebase-element/firebase-element.html">
<link rel="import" href="../firebase-element/firebase-login.html">
<polymer-element name="ddt-datasource" hidden>
<template>
	<firebase-login id="fbLogin" provider="anonymous" params='{"rememberMe":true}' location="https://polymer-topeka.firebaseio.com" user="{{fbUser}}" statusKnown="{{statusKnown}}"></firebase-login>
<firebase-element id="fbUser" location="{{!offline && fbUser ? 'https://polymer-topeka.firebaseio.com/users/' + fbUser.uid : null}}" priority="{{user.score}}" dataReady="{{userReady}}"></firebase-element>
  <core-ajax auto handleAs="json" url="{{url}}" response="{{categories}}"></core-ajax>
  
</polymer-element>